<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PacketPass</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>homepage</display-name>
    <servlet-name>homepage</servlet-name>
    <servlet-class>homepage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homepage</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Qservlet</display-name>
    <servlet-name>Qservlet</servlet-name>
    <servlet-class>Qservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Qservlet</servlet-name>
    <url-pattern>/Qservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editgroups</display-name>
    <servlet-name>editgroups</servlet-name>
    <servlet-class>editgroups</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editgroups</servlet-name>
    <url-pattern>/editgroups</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GroupQServlet</display-name>
    <servlet-name>GroupQServlet</servlet-name>
    <servlet-class>GroupQServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GroupQServlet</servlet-name>
    <url-pattern>/GroupQServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addgroup</display-name>
    <servlet-name>addgroup</servlet-name>
    <servlet-class>addgroup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addgroup</servlet-name>
    <url-pattern>/addgroup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>bootstraptrial</display-name>
    <servlet-name>bootstraptrial</servlet-name>
    <servlet-class>bootstraptrial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bootstraptrial</servlet-name>
    <url-pattern>/bootstraptrial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VMServlet</display-name>
    <servlet-name>VMServlet</servlet-name>
    <servlet-class>VMServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VMServlet</servlet-name>
    <url-pattern>/VMServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addvm</display-name>
    <servlet-name>addvm</servlet-name>
    <servlet-class>addvm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addvm</servlet-name>
    <url-pattern>/addvm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WaitServlet</display-name>
    <servlet-name>WaitServlet</servlet-name>
    <servlet-class>WaitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WaitServlet</servlet-name>
    <url-pattern>/WaitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sleepservlet</display-name>
    <servlet-name>sleepservlet</servlet-name>
    <servlet-class>sleepservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sleepservlet</servlet-name>
    <url-pattern>/sleepservlet</url-pattern>
  </servlet-mapping>
</web-app>